.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER */
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.profile-avatar {
    width: 150px;
    height: 150px;
}

.profile-role {
    font-weight: 600;
    text-transform: capitalize;
}

/* FORM */
.profile-form {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 40px;
    border-radius: 14px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
}

.form-group input:focus {
    border-color: #000;
}

.divider {
    height: 1px;
    background: #eee;
    margin: 30px 0;
}

/* BUTTON */
.btn-primary {
    background: black;
    color: white;
    padding: 14px;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .profile-form {
        padding: 25px;
        width: 100%;
    }
}

